---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ ui_configmap_name }}"
  namespace: "{{ virt_namespace }}"
data:
  virtMeta.json: |
    {    
      "namespace": "{{ virt_namespace }}",
      "configNamespace": "{{ virt_namespace }}",
      "clusterApi": "https://kubernetes.default.svc.cluster.local",
      "inventoryApi": "https://inventory.{{ virt_namespace }}.svc.cluster.local:8443",
      "oauth": {
        "clientId": "forklift",
        "redirectUrl": "https://{{ ui_route_name }}-{{ virt_namespace }}.{{ cluster_dns_suffix }}/login/callback",
        "userScope": "{{ ui_oauth_user_scope }}",
        "clientSecret": "{{ ui_oauth_secret }}"
      }
    }
