---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: virt-ui
  namespace: "{{ app_namespace }}"
  labels:
    app: {{ app_name }}
    service: {{ ui_service_name }}
spec:
  selector:
     matchLabels:
       app: {{ app_name }}
       service: {{ ui_service_name }}
  template:
    metadata:
      labels:
        app: {{ app_name }}
        service: {{ ui_service_name }}
    spec:
      containers:
        - name: {{ ui_container_name }}
          image: "{{ virt_ui_image_fqin }}"
          imagePullPolicy: "{{ image_pull_policy }}"
          env:
            - name: META_FILE
              value: {{ ui_configmap_path }}/virtMeta.json
            - name: NODE_EXTRA_CA_CERTS
              value: /var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt
          ports:
            - containerPort: 8443
              protocol: TCP
          resources:
            limits:
              cpu: {{ virt_ui_limits_cpu }}
              memory: {{ virt_ui_limits_memory }}
            requests:
              cpu: {{ virt_ui_requests_cpu }}
              memory: {{ virt_ui_requests_memory }}
          volumeMounts:
            - name: "{{ ui_configmap_name }}"
              mountPath: "{{ ui_configmap_path }}"
            - name: migration-ui-tls
              mountPath: /var/run/secrets/migration-ui-tls
      volumes:
        - name: "{{ ui_configmap_name }}"
          configMap:
            name: "{{ ui_configmap_name }}"
        - name: migration-ui-tls
          secret:
            defaultMode: 420
            secretName: migration-ui-tls
