---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-payload
  namespace: "{{ virt_namespace }}"
  labels:
    app: migration
    service: inventory-payload
spec:
  selector:
     matchLabels:
       app: migration
       service: inventory-payload
  template:
    metadata:
      labels:
        app: migration
        service: inventory-payload
    spec:
      containers:
        - name: inventory-payload
          image: "{{ inventory_payload_image_fqin }}"
          imagePullPolicy: "{{ image_pull_policy }}"
          ports:
            - containerPort: 8080
              protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-payload
  namespace: "{{ virt_namespace }}"
  labels:
    app: migration
    service: inventory-payload
spec:
  ports:
    - name: port-8080
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: migration
    service: inventory-payload
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    haproxy.router.openshift.io/timeout: 300s
  name: inventory-payload
  namespace: "{{ virt_namespace }}"
  labels:
    app: inventory-payload
    service: inventory-payload
spec:
  to:
    kind: Service
    name: inventory-payload
  port:
    targetPort: port-8080
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
