---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    haproxy.router.openshift.io/timeout: 300s
  name: "{{ ui_route_name }}"
  namespace: "{{ virt_namespace }}"
  labels:
    app: forklift
    service: forklift-ui
spec:
  to:
    kind: Service
    name: forklift-ui
  tls:
    termination: reencrypt
    insecureEdgeTerminationPolicy: Redirect
