---
apiVersion: oauth.openshift.io/v1
kind: OAuthClient
metadata:
  name: migration
  namespace: "{{ virt_namespace }}"
grantMethod: auto
redirectURIs: ["{{ ui_oauth_redirect_url }}"]
secret: "{{ ui_oauth_secret }}"
