---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    haproxy.router.openshift.io/timeout: 300s
  name: migration
  namespace: "{{ virt_namespace }}"
  labels:
    app: migration
    service: migration
spec:
  to:
    kind: Service
    name: migration-ui
  tls:
    termination: reencrypt
    insecureEdgeTerminationPolicy: Redirect
