---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ app_name }}
    service: {{ controller_service_name }}
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
  name: {{ controller_configmap_name }}
  namespace: {{ app_namespace }}
data:
  WORKING_DIR: {{ inventory_volume_path }}
{% if cors_origins is defined %}
  CORS_ALLOWED_ORIGINS: {{ cors_origins | join(' ') }}
{% endif %}
