---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ ui_configmap_name }}"
  namespace: "{{ app_namespace }}"
data:
  virtMeta.json: |
    {    
      "namespace": "{{ app_namespace }}",
      "configNamespace": "{{ app_namespace }}",
      "clusterApi": "https://kubernetes.default.svc.cluster.local",
      "inventoryApi": "https://{{ inventory_service_name }}.{{ app_namespace }}.svc.cluster.local:8443",
      "oauth": {
        "clientId": "{{ app_name }}",
        "redirectUrl": "https://{{ ui_route_name }}-{{ app_namespace }}.{{ cluster_dns_suffix }}/login/callback",
        "userScope": "{{ ui_oauth_user_scope }}",
        "clientSecret": "{{ ui_oauth_secret }}"
      }
    }
