---
apiVersion: forklift.konveyor.io/v1beta1
kind: Provisioner
metadata:
  name: ocs-rbd
  namespace: {{ app_namespace }}
spec:
  name: openshift-storage.rbd.csi.ceph.com
  features: []
  volumeModes:
  - name: Block
    priority: 0
    features: []
    accessModes:
    - name: ReadWriteOnce
      priority: 0
      features: []
