---
apiVersion: forklift.konveyor.io/v1beta1
kind: Provisioner
metadata:
  name: vsphere-volume
  namespace: {{ app_namespace }}
spec:
  name: kubernetes.io/vsphere-volume
  features: []
  volumeModes:
  - name: Block
    priority: 0
    features: []
    accessModes:
    - name: ReadWriteOnce
      priority: 0
      features: []
  - name: Filesystem
    priority: 1
    features: []
    accessModes:
    - name: ReadWriteOnce
      priority: 0
      features: []
