---
apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: {{ admission_webhook_tls_secret_name }}
  labels:
    app: {{ app_name }}
    service: {{ admission_webhook_service_name }}
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
  name: {{ admission_webhook_service_name }}
  namespace: {{ app_namespace }}
spec:
  ports:
  - name: api-http
    port: 8444
    targetPort: 8444
    protocol: TCP
  selector:
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
