---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: konveyor-forklift
  namespace: {{ namespace }}
spec:
  displayName: Forklift Operator
  publisher: Konveyor
  sourceType: grpc
  image: quay.io/konveyor/forklift-operator-index:latest
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: migration
  namespace: {{ namespace }}
spec:
  targetNamespaces:
    - {{ namespace }}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: forklift-operator
  namespace: {{ namespace }}
spec:
  channel: {{ channel }}
  installPlanApproval: Automatic
  name: forklift-operator
  source: konveyor-forklift
  sourceNamespace: {{ namespace }}
